.full-height {
  min-height: 100vh;
}

.fb-mt-5 {
  margin-top: 6rem !important;
}

.fb-bg {
  background-color: #f0f2f5 !important;
}

.shadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.fb-modal{
  padding-right: 16px; 
  display: block;
}
